<nav class="navBar">
    <a class="titleLink" href="/">
        <img class="img" src="https://i.postimg.cc/PJYbM1Fm/logo-2.png"/>
        <h1 class="title">
            Phone<i class="italic">Mart</i>
        </h1>
    </a>
</nav>